nav ul li:hover > ul {
	display: block;
}

nav ul {
	color: white;
	background-color: #88B036;
	list-style: none;
	position: relative;
	display: inline-table;
	padding: 0px;
	margin: 0px;
	z-index: 1;
}

nav a:link, nav a:visited, nav a:active {
	color: #fff;
}

nav a:hover {
 color: #060;
}

nav ul:after {
	content: ""; clear: both; display: block;
}
		
nav ul li {
	float: left;
}
	
nav ul li:hover {
	background: #9FCC41;
}

nav ul li:hover a {
	background-color: #9FCC41;
}
		
nav ul li a {
	color: #FFF;
	text-decoration: none;
	padding-top: 8px;
	padding-right: 15px;
	padding-bottom: 8px;
	padding-left: 15px;
	display: block;
	-webkit-transition: background-color 400ms ease-in-out 0s, color 500ms ease-in-out 100ms;
	-moz-transition: background-color 400ms ease-in-out 0s, color 500ms ease-in-out 100ms;
	-ms-transition: background-color 400ms ease-in-out 0s, color 500ms ease-in-out 100ms;
	-o-transition: background-color 400ms ease-in-out 0s, color 500ms ease-in-out 100ms;
	transition: background-color 400ms ease-in-out 0s, color 500ms ease-in-out 100ms;	
	white-space: nowrap;		
}
		
nav ul ul {
	display: none;
	background: #88B036; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}

nav ul ul li {
	float: none; 
}

nav ul ul li a {
	padding: 15px 15px;
	color: #fff;
}
	
nav ul ul li a:hover {
	background-color: ##9FCC41;
	color: #060;
}
		
nav ul ul ul {
	position: absolute; left: 100%; top:0;
}

nav ul ul li {
	min-width: 100px;
}
