@charset "utf-8";
body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: small;
	color: #333;
	background-color: #739112;
	text-align: center;
}

    #container {
	background-color: #FFF;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	text-align: left;
	background-repeat: repeat-y;
}


header {
	height:80px;
	z-index:1;
	background-color: #9fcc41;
	background-image: url(images/veggies.jpg);
	background-repeat: no-repeat;
	background-position: right;
}


header img {
	margin-top: 20px;
	margin-left: 15px;
}
 
dl {
	color: #000;
	font-size: medium;
	margin-left: 15px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-weight: bold;
}

dd {
	font-size: small;
	margin-bottom: 10px;
	font-weight: normal;
	margin-right: 10px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	margin-left: 5px;
}

    nav {
	background-color: #88b036;
	height: 36px;
	width: 100%;
}
    footer {
	background-color: #CCC;
	clear: both;
}
nav ul li {
	float: left;
	list-style-type: none;
}

nav ul li a {
	color: #FFF;
	text-decoration: none;
	display: block;
	padding-top: 8px;
	padding-right: 15px;
	padding-bottom: 8px;
	padding-left: 15px;
	white-space: nowrap;
}
nav a:hover {
	background-color: #9fcc41;
}
nav ul {
	margin: 0px;
	padding: 0px;
}
sidebar {
	float: right;
	width: 270px;
	background-color: #C8D9BC;
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #060;
}
    #main {
	float: left;
	width: 600px;
	padding-left: 20px;
}
    
h1 {
	font-size: large;
}
