@charset "UTF-8";
body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: small;
	color: #333;
	background-color: #739112;
	text-align: center;
}

    #container {
	background-color: #FFF;
	width: 840px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	text-align: left;
	background-image: url(images/bg.gif);
	background-repeat: repeat-y;
}


header {
	height:80px;
	z-index:999;
	background-color: #9fcc41;
	background-image: url(images/veggies.jpg);
	background-repeat: no-repeat;
	background-position: right;
}
nav {
	background-color: #88b036;
	width: 100%;
	padding: 0px;
	margin: 0px;
	height: 36px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #060;
	color: #FFF;
}


header img {
	margin-top: 20px;
	margin-left: 15px;
}
 
    #main {
	width: 530px;
	float: left;
}
    sidebar {
	width: 270px;
	float: right;
	background-color: #DBEBD0;
}
    footer {
	background-color: #CCC;
	clear: both;
	text-align: center;
}
    #main p {
	margin-top: 0px;
	margin-left: 20px;
	margin-right: 15px;
}
    #main h1 {
	margin-bottom: 0px;
	margin-left: 15px;
}
    #GlobalNav {
	background-image: url(images/globalnav_bg.png);
	background-repeat: no-repeat;
	position:absolute;
	left:601px;
	top:54px;
	width:160px;
	height:25px;
	z-index:1;
	text-align: center;
}
    .headline {	color: #88B036;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: -2px;
}
 