@charset "UTF-8";
/* CSS Document */

.body_style {
	background-color: #bfb6aa;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
#logo {
	position: absolute;
	left: 38px;
	top: 38px;
}
#navigation {
	position: absolute;
	left: 38px;
	top: 114px;
	margin: 0;
	padding: 0;
}
#navigation li{
	display: inline;
	list-style: none;
	margin: 0;
	padding-right: 20px;
}
#navigation li a{
	text-decoration: none;
	color: #fff;
}
#navigation li a:hover{
	color: #aaa;
}
