body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #660000;
	margin: 0px;
	background-image: url(images/bg.gif);
	background-repeat: repeat-x;
}
.pagetitle {
	font-family: Palatino, "Times New Roman", Times, serif;
	font-size: 24px;
	color: #FFFFFF;
	background-color: #000000;
	font-weight: normal;
	padding: 20px 5px 5px 15px;
}
.header2_main {
	font-family: Palatino, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #666666;
}
.bodytext_main {
	background-color: #ecece3;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #663300;
	line-height: 15px;
}
.footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #333333;
	letter-spacing: 2pt;
	text-align: center;
}
.sidebarTitle {
	font-family: Palatino, "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #CC6600;
	padding: 3px;
}
.mainTable {
	width: 780px;
	margin-right: auto;
	margin-left: auto;
}
.header_main {
	font-family: Palatino, "Times New Roman", Times, serif;
	font-size: 22px;
	color: #666666;
	font-weight: normal;
	padding: 10px 10px 10px 0px;
}
.sidebarBody {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 13px;
	color: #996600;
	background-color: #FFFFCC;
	border-bottom-width: thin;
	border-left-width: thin;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #eeeecc;
	border-left-color: #eeeecc;
}
.topmenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: underline;
	background-color: #666666;
}
.topmenu_selected {
	font-weight: bold;
	color: #CC6600;
	text-decoration: none;
	background-color: #FFFFFF;
}
.bodytext_sub {
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	line-height: 15px;
}
.header_sub {
	font-family: Palatino, "Times New Roman", Times, serif;
	font-size: 22px;
	color: #990000;
	font-weight: normal;
	padding: 10px 10px 10px 0px;
}
.header2_sub {
	font-family: Palatino, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #990000;
}
