@charset "utf-8";
h1 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color: #9C3;
}
p {
	font-size: 14px;
	color: #666;
	line-height: 120%;
}
ul {
	font-size: 14px;
	color: #666;
	line-height: 150%;
}
h2 {
	font-size: 18px;
	color: #390;
	text-transform: uppercase;
	letter-spacing: 5px;
}
a:link {
	color: #030;
}
a:hover {
	color: #C60;
	text-decoration: none;
}
#footer {
	background-color: #FFF;
}
.test {
	font-size: 12px;
}
.grey {
	font-size: 12px;
}
.copyright {
	font-size: 10px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	background-color: #FFF;
}
body {
	background-color: #E0F0E4;
	margin-right: 15%;
	margin-left: 15%;
}
ul li strong {
	color: #030;
}
